body {
    margin: 0;
    font-family: "Inter", sans-serif;
}

/* Header */
header {
    height: 300px;
    overflow: hidden;
    position: relative;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}

nav {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-around;
    padding: 100px;
    align-items: center;
}

nav > h1 {
    font-size: 75px;
}

nav > h1,
nav > a {
    color: white;
}

nav > a {
    text-decoration: none;
    font-size: 30px;
}

/* Search Form */

.search-form {
    background: white;
    display: flex;
    border: 1px solid rgba(209, 213, 219, 1);
    border-radius: 6px;
    justify-content: space-between;
    width: 700px;
    overflow: hidden;
    height: 60px;
    margin: -30px auto 0;
    position: relative;
    z-index: 1;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    min-width: 0;
}

.search-form > button {
    border: none;
    flex-shrink: 0;
    background-color: white;
    border-left: 1px solid rgba(209, 213, 219, 1);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.input-wrapper > input {
    border: none;
    outline: none;
    font-size: 20px;
    flex: 1;
    min-width: 0;
    padding-right: 10px;
}

.input-wrapper > img {
    width: 30px;
    margin-left: 20px;
}

/* Movies Container */

.movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movies-container.empty {
    justify-content: center;
    min-height: calc(100vh - 300px - 30px);
}

.movie-reel-icon {
    width: 100px;
}

.movies-container-header {
    font-size: 30px;
    color: rgba(223, 221, 221, 1);
    text-align: center;
    width: 600px;
}

/* Movie card */

.movie-card {
    width: 700px;
    display: grid;
    grid-template-columns: 150px 1fr;
    font-family: "Inter", sans-serif;
    column-gap: 20px;
    padding: 24px 0;
    border-bottom: 2px solid rgba(229, 231, 235, 1);
}

.movie-poster {
    width: 150px;
    object-fit: cover;
    border-radius: 2px;
}

.movie-header {
    display: grid;
    grid-template-columns: repeat 2fr (2, 1fr);
}

.movie-details {
    display: grid;
    row-gap: 8px;
    align-content: center;
}

.movie-details h2,
.movie-details p {
    margin: 5px 0;
}

/* title, star, and rating */

.movie-header {
    display: flex;
    align-items: center;
    gap: 6px;
}

.title {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    padding-right: 10px;
}

.rating-icon {
    width: 15px;
}

.imdb-rating {
    font-weight: 400;
}

.movie-meta {
    display: flex;
    gap: 20px;
    color: rgba(17, 24, 39, 1);
}

.watchlist-toggle {
    display: flex;
    align-items: center;
    gap: 5px;
}

.toggle-watchlist-icon {
    width: 16px;
    height: 16px;
}

/* Plot */

.plot {
    color: rgba(107, 114, 128, 1);
    font-size: 20px;
    line-height: 27px;
}

/* Watchlist Page */

.search-movies > a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-movies > a > img {
    width: 25px;
}

.search-movies > a > p {
    font-weight: 700;
    font-size: 20px;
}

.search-movies > a {
    text-decoration: none;
    color: black;
}